<a href="https://colab.research.google.com/github/remre/StriveSchool-ai/blob/main/m7NLP/d1/sol/Exercises_Joe_Rogan_and_Elon_Musk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv("jre_elon_musk.csv")
df.head()

    Timestamp    Speaker                                               Text
0  [00:00:00]  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1  [00:00:09]  Elon Musk                                    You're welcome.
2  [00:00:10]  Joe Rogan                        It's very good to meet you.
3  [00:00:11]  Elon Musk                              Nice to meet you too.
4  [00:00:12]  Joe Rogan    And thanks for not lighting this place on fire.

In [6]:
# Print the first ten lines of text
df['Text'].head(10)

0    Ah, ha, ha, ha. Four, three, two, one, boom. T...
1                                      You're welcome.
2                          It's very good to meet you.
3                                Nice to meet you too.
4      And thanks for not lighting this place on fire.
5                 You're welcome. That's coming later.
6    How does one, just in the middle of doing all ...
7    Well, the flame, we didn't put a lot of time i...
8                                            Now, who-
9    And then, we have a merchandise section that o...
Name: Text, dtype: object

In [52]:
df.Timestamp[1].replace('[','').replace(']','')

'00:00:09'

In [81]:
# Create a function to convert timestamp into seconds
import re
from datetime import datetime

In [ ]:
for i in range(len(df.Timestamp)):
    date_time = datetime.strptime( df.Timestamp[i].replace('[','').replace(']',''), "%H:%M:%S")
    a_timedelta = date_time - datetime(1900, 1, 1)
    seconds = a_timedelta.total_seconds()
    
    df.Timestamp[i] = seconds
    print(df.Timestamp[i])

In [99]:
df.isnull().sum()

Timestamp    0
Speaker      0
Text         0
dtype: int64

In [ ]:
# Convert the Timestamp column using the function defined above 
#already did it look up
df["Timestamp"] = # your code here

In [147]:
df[:5]

  Timestamp  ... Interval
0         0  ...      9.0
1         9  ...      1.0
2        10  ...      1.0
3        11  ...      1.0
4        12  ...      1.0

[5 rows x 4 columns]

In [107]:
list1 = []
for  i in range(len(df)-1):
  K  = df.Timestamp[i+1]- df.Timestamp[i]
  list1.append(K)
  list1.append(1) #for the last value consdider as 1 sec

In [119]:
# Add a column with the seconds lasted by the text in the row
# for example: the first row lasts 9 seconds, since Elon Musk
# answer at the second 9 (Hint: use shift with period - 1).
# In case of negative numbers, just make them 1 (minimum interval lenght is 1 second)
import numpy as np
'''def max1(x):
  for i in range(len(df))
    return np.maximum(1,)'''


df["Interval"] = list1

In [226]:
df.Speaker.unique()

array(['Joe Rogan', 'Elon Musk', 'Jaime'], dtype=object)

In [125]:
# Total seconds spoken by Joe Rogan
df.groupby('Speaker')['Interval'].sum()

Speaker
Elon Musk    4882.0
Jaime          40.0
Joe Rogan    4489.0
Name: Interval, dtype: float64

In [ ]:
# Total seconds spoken by Elon Musk

5072.0

In [ ]:
# Total seconds spoken by Jaime

45.0

In [137]:
# Average speaking interval for each person
#df.groupby('Speaker')['Interval'].agg(['sum','average'])
dff = df.groupby('Speaker').agg({'Interval':'sum',})
dff['Average']  = df.groupby('Speaker').agg({'Interval':'mean',})

In [138]:
dff

           Interval   Average
Speaker
Elon Musk    4882.0  5.370737
Jaime          40.0  2.352941
Joe Rogan    4489.0  4.960221

In [ ]:
# Average speaking interval for each person

Speaker
Elon Musk    5.579758
Jaime        2.647059
Joe Rogan    5.123757
Name: Interval, dtype: float64

Who speaks faster?

Tokenize the text, preprocess the tokens so that you have only words (excluding punctuation) and compute the velocity of each speaker as: number of words per interval / length of interval . Store the result in a column named Velocity and compute the average for each speaker.

In [145]:
import string
import re
import spacy
nlp = spacy.load("en_core_web_sm")

In [148]:
def remove_punctuation(text):
    return text.str.replace('[^\w\s]','')

In [181]:
listt = []
def count_tokens(text):

  for i in range(len(text)):
    k  = nlp(str(text[i]))
    listt.append(len(k))
  return listt
df['N_o_Tokes'] = count_tokens(df['Text'])

In [ ]:
lists = []
def remove_stopwords(text):
  for i in range(len(text)):
    k  = nlp(str(text[i]))
    tokens = [token.text for token in k if not token.is_stop]

    lists.append(tokens)
  return lists  
rs = remove_stopwords(df['Text'])

df["TextNoPunct"] = rs

In [ ]:
# Preprocess the data
import spacy
import re
nlp = spacy.load("en_core_web_sm")

# Create a function to remove punctuation from text

def remove_punctuation(text):
    return text.str.replace('[^\w\s]','')

nop = remove_punctuation(df['Text'])
# Create a function to count the non punctuation token of a text

listt = []
def count_tokens(text):

  for i in range(len(text)):
    k  = nlp(str(text[i]))
    listt.append(len(k))
  return listt
df['N_o_Tokes'] = count_tokens(df['Text'])


lists = []
def remove_stopwords(text):
  for i in range(len(text)):
    k  = nlp(str(text[i]))
    tokens = [token.text for token in k if not token.is_stop]

    lists.append(tokens)
  return lists  
rs = remove_stopwords(df['Text'])

df["TextNoPunct"] = rs

In [189]:
df

     Timestamp    Speaker  ... Interval  N_o_Tokes
0            0  Joe Rogan  ...      9.0         19
1            9  Elon Musk  ...      1.0          3
2           10  Joe Rogan  ...      1.0          6
3           11  Elon Musk  ...      1.0          5
4           12  Joe Rogan  ...      1.0          9
...        ...        ...  ...      ...        ...
1826      9401  Joe Rogan  ...      2.0          8
1827      9403  Elon Musk  ...      1.0          3
1828      9404  Joe Rogan  ...      6.0         18
1829      9410  Elon Musk  ...      0.0          4
1830      9410  Joe Rogan  ...      1.0         18

[1831 rows x 5 columns]

In [185]:
lists = []
def remove_stopwords(text):
  for i in range(len(text)):
    k  = nlp(str(text[i]))
    tokens = [token.text for token in k if not token.is_stop]

    lists.append(tokens)
  return lists

In [ ]:
l = remove_stopwords(df['Text'])
df["TextNoPunct"] = l

In [ ]:
# Put the number of tokens of each row in a new column
df["n_tokens"] = # your code here

In [ ]:
# Compute the velocity and store it in a new column

df["Velocity"] = # your code here

In [208]:
listv = []
for i in range(len(df)):
  k =  df['N_o_Tokes'][i]/df['Interval'][i]
  listv.append(k)
df['Velocity'] = listv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until

In [195]:
df

     Timestamp  ...                                        TextNoPunct
0            0  ...  [Ah, ha, ha, ha, boom, Thank, Thanks, man, app...
1            9  ...                                          [welcome]
2           10  ...                                       [good, meet]
3           11  ...                                       [Nice, meet]
4           12  ...                    [thanks, lighting, place, fire]
...        ...  ...                                                ...
1826      9401  ...                             [believe, true, thank]
1827      9403  ...                                          [welcome]
1828      9404  ...  [assholes, nice, nice, bitch, right, Thank, ev...
1829      9410  ...                                     [right, thank]
1830      9410  ...  [Good, night, everybody, END, TRANSCRIPTAutoma...

[1831 rows x 6 columns]

In [ ]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens,Velocity
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0,Ah ha ha ha Four three two one boom Thank you ...,19,2.111111
1,9,Elon Musk,You're welcome.,1.0,You 're welcome,3,3.000000
2,10,Joe Rogan,It's very good to meet you.,1.0,It 's very good to meet you,7,7.000000
3,11,Elon Musk,Nice to meet you too.,1.0,Nice to meet you too,5,5.000000
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1.0,And thanks for not lighting this place on fire,9,9.000000
...,...,...,...,...,...,...,...
1826,2921,Joe Rogan,"I believe it's true too. So, thank you.",2.0,I believe it 's true too So thank you,9,4.500000
1827,2923,Elon Musk,You're welcome.,1.0,You 're welcome,3,3.000000
1828,2924,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6.0,All you assholes out there be nice Be nice bit...,18,3.000000
1829,2930,Elon Musk,"All right, thank you.",1.0,All right thank you,4,4.000000
1830,2930,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1.0,Good night everybody END OF TRANSCRIPTAutomate...,17,17.000000

In [ ]:
# Inspect the avg velocity of each speaker

Speaker
Elon Musk    2.882109
Jaime        3.597523
Joe Rogan    3.046772
Name: Velocity, dtype: float64

In [224]:
dff['Velocity']= df.groupby('Speaker').agg({'Velocity':'sum'})

In [225]:
dff

           Interval   Average  Velocity  AverageVel
Speaker
Elon Musk    4882.0  5.370737       inf         inf
Jaime          40.0  2.352941       inf         inf
Joe Rogan    4489.0  4.960221       inf         inf

In [214]:
dff

           Interval   Average  Velocity  AverageVel
Speaker
Elon Musk    4882.0  5.370737  2.111111         inf
Jaime          40.0  2.352941  3.000000         inf
Joe Rogan    4489.0  4.960221  6.000000         inf

After all, Elon was high...

![image](https://bsmedia.business-standard.com/_media/bs/img/article/2018-09/09/full/1536463138-6668.jpg)

In [ ]:
#