<a href="https://colab.research.google.com/github/remre/StriveSchool-ai/blob/main/week2/sol/23_24_pandas_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23. Given a DataFrame of numeric values, say

df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

how do you subtract the row mean from each element in the row?

In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np

#creating dataset
df = pd.DataFrame(np.random.random(size=(5, 3)))


df["mean"]=df.mean(axis=1)#to check mean values are there
print(df)
xy = df.apply(lambda x: x.mean()-x, axis=1)#not changing df just "apply" axis 1 stands for indexes|
print(xy)

          0         1         2      mean
0  0.521661  0.450286  0.104277  0.358741
1  0.199574  0.496226  0.538955  0.411585
2  0.659599  0.096105  0.407336  0.387680
3  0.947670  0.496436  0.153799  0.532635
4  0.246109  0.767131  0.628026  0.547089
          0         1         2  mean
0 -0.162920 -0.091544  0.254464   0.0
1  0.212011 -0.084641 -0.127370   0.0
2 -0.271919  0.291575 -0.019656   0.0
3 -0.415035  0.036199  0.378836   0.0
4  0.300979 -0.220042 -0.080937   0.0

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [2]:
dff = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
#xx =dff.sum(axis =0).min() Im working on it
dff.sum().idxmin(axis =1 ) # actually idxmin stands for index of first occurrence of minimum over requested axis

'e'