<a href="https://colab.research.google.com/github/remre/StriveSchool-ai/blob/main/week2/sol/Imdbchalenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import time
import numpy as np
from bs4 import BeautifulSoup as bs
import requests
import seaborn as sns
import matplotlib.pyplot as plt

url = "https://www.imdb.com/list/ls009668579/"
page = requests.get(url)
print(page)#checking for Response 200

<Response [200]>

In [96]:
soup = bs(page.content , "html.parser")
# need a list of names release dates +, duration+, rating, stars and directors, number of votes, box office, desc+, genre+ metascore+)
#to list of names and the release date

m_frame = soup.find("div" , class_ = "lister-list")
m_name = m_frame.findAll("h3", class_="lister-item-header")

m_name_list =[name.text.strip().split("\n") for name in m_name] 
m_name_list_t = np.array(m_name_list).T.tolist()
m_names = m_name_list_t[:][1]
m_r_date = m_name_list_t[:][2]
m_r_dates = [int(i.replace("("," ").replace(")","").replace("I","").strip()) for i in m_r_date]
m_r_dates
len(m_r_dates)
len(m_names)

100

In [94]:

#create descripton list 
m_desc = m_frame.findAll("p",class_ ="" )
m_desc_list = [d.text.strip().replace("[","").split("\n") for d in m_desc]
m_desc_list
len(m_desc_list)

100

In [93]:
#list of genres
m_genre = m_frame.findAll("span", class_ = "genre")
m_genre_list =[genre.text.strip().split("\n")[0].strip().split(",")[1:] for genre in m_genre]
m_genre_list
len(m_genre_list)

100

In [91]:
# list of ratings
m_framee = soup.find("div" , class_ = "article listo")
m_rating = m_framee.findAll("div", class_ = "ipl-rating-widget")
m_rating_list = [float(rating.text.strip().split("\n")[0]) for rating in m_rating]
#m_rating_listt = [i.replace("]"," ").strip() for i in m_rating_list]
dff = pd.DataFrame(m_rating_list)
#dff[0] =np.where(dff[0].str.startswith("Rate")|dff[0].str.startswith("0"),np.nan,dff[0])
len(m_rating_list)

100

In [92]:
#Listing metascore

m_meta = m_frame.findAll("span", class_= "metascore favorable")
m_met = m_frame.findAll("span", class_= "metascore unfavorable")
m_me = m_frame.findAll("span", class_= "metascore mixed")
m_met.extend(m_me)
m_meta.extend(m_met)
m_meta_l = [int(meta.text.strip()) for meta in m_meta]
len(m_meta_l)

100

In [164]:
#List of Numer of Votes and Box Office
m_gross = m_frame.find_all("span", attrs = {"name" : "nv"})
m_gross_list = [gross.text.strip() for gross in m_gross]
mm_gross = m_gross_list[0:199:2]
#map(lambda x: x if x != 4 else 'sss', a)
xx = filter("$", m_gross_list)
#m_nov = m_gross_list[1:-1:2]
#for s in np.array(xx):
 # print(s)\
m_votes = []
dfff = pd.DataFrame(m_gross_list)
dfff[0] =np.where(dfff[0].str.startswith("$"),np.nan,dfff[0])
dfffk = dfff.dropna()
nov = dfffk[0].tolist()
nov[0]

'2,378,112'

In [ ]:
dof = pd.DataFrame(m_gross_list)
dof[0] =np.where(dof[0].str.startswith(("2","1","3","4","5","6","8","9","7")),np.nan,dof[0])
dof = dof.dropna()
dov = dof[0].tolist()
len(dov)
dov.append("$47.21M")
len(dof)
dof[0] =np.where(dfff[0].str.startswith("$"),dof[0].split("$"),dof[0])

In [89]:
''''m_votes = [1]
dfff = [["asdasd","asdasd","3$","$4", "ad" ,"asd","asd"],["2"],[2,3,4,5,]]
#dfff[0] =np.where(dfff[0].str.startswith("$"),dfff[0].split("$),dfff[0])
#dfff
for i in range(4):
  if dfff[0][i][0] == "3":
      m_votes = m_votes.append(dfff[0][i][0])
  else:
    kk=4
m_votes''''

In [ ]:
''''m_votes = []
kk  = [lambda x: m_votes.append(i) if m_gross_list[i][0] == "$" else None  for i in range(len(m_gross_list)) ,m_votes]

m_votes = []
for i in range(len(m_gross_list)):
  if m_gross_list


m_votes''''

In [ ]:
'''def erase(x):
  for i in m_rating_list:
    if m_rating_list[i] == "Rate":
      m_rating_list = m_rating_list.pop(i)
      return m_rating_list
erase(5)'''

In [97]:
#list of duration
m_duration = m_frame.findAll("span", class_ = "runtime")
m_duration_list = [int(dur.text.strip().replace("min"," ")) for dur in m_duration]
m_duration_list
len(m_duration_list)

100

In [201]:
#df 
df_dict={"Names":m_names,"ReleaseDates":m_r_dates,"Rating":m_rating_list, "Metascore" : m_meta_l,"Box Office":dov,"Desc":m_desc_list ,"Duration Time":m_duration_list , "Genre":m_genre_list, "N.o. Votes":nov}
df_dict
df = pd.DataFrame(data = df_dict)
#df.index = ['Row_1', 'Row_2', 'Row_3', 'Row_4']
#df = df.rename(index = lambda x: x + 10)
df

                                  Names  ...  N.o. Votes
0                       The Dark Knight  ...   2,378,112
1                             Inception  ...   2,134,499
2                     Kill Bill: Vol. 1  ...   1,028,611
3                             Gladiator  ...   1,378,057
4            Terminator 2: Judgment Day  ...   1,018,837
..                                  ...  ...         ...
95                                Speed  ...     338,703
96                             The Rock  ...     319,329
97                     The Hunger Games  ...     861,651
98                             I, Robot  ...     508,461
99  Prince of Persia: the Sands of Time  ...     276,437

[100 rows x 9 columns]

In [ ]:
df.Genre=np.where(df.Genre.str.startswith("Crime"),"5",df.Genre)
df.Genre

In [ ]:
grouped = df.groupby(df.Genre)
df_new = grouped.get
df_new

In [ ]:
np.where()

In [ ]:
sns.boxplot(x="Duration Time", y="Release Dates", data=df_metabest,
            whis=[1, 100], width=.6, palette="vlag")
help(sns.boxplot())

In [ ]:
plt.scatter('Names', 'Duration Time', data=df)
plt.xlabel('entry a')
plt.ylabel('entry b')
plt.show()

In [ ]:
ax, fig = plt.subplots(figsize=(10,8))
labels = df["Metascore"]
salesData   = [df['Release Dates'], df['Duration Time']]
plt.axis("equal")
plt.pie(df["Metascore"], labels=labels ,autopct='%1.1f%%')
plt.legend(loc='lower right')
plt.title('Names')
plt.show()

In [ ]:
import matplotlib.cm as cm
df["x_mean"] = df.groupby("Release Dates").apply("Metascore", lambda x:x if x>80  else 0)
df["y_mean"] = df.groupby("Release Dates")
fig, ax = plt.subplots()
#u can change the name of scatter as fig
scatter = plt.scatter(df.x_mean[:10],df.y_mean[:10], cmap=cm.jet,s = 100)
df["x_mean"]

In [ ]:
df_metabest = df.loc[df["Metascore"]>= 85]
df_metabest

In [ ]:
''''data = {
    'Movie':m_names,
    'Year of release': m_r_dates,
    'Genre': m_genre_list,
    'Directed by': directors,
    'Starring': stars,
    'Synopsis': m_desc_list,
    #'Box Office Gross in Million Dollars': gross,
    'Duration in minutes':duration_list,
    'IMDB User Rating': ratings,
    'Metascore from Metacritic': metascores
}   '''''

In [ ]:
plt.bar(df_metabest["Release Dates"],df_metabest["Duration Time"], linewidth = 2)
plt.show()